<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/">
  <div data-role="header" data-position="inline">
    <h1>Motorola Conferences</h1>
  </div>
  
  <img src="/public/images/APPFORUM_440x122.jpg" style="width:100%"/>
  
  <div data-role="content">
    <ul data-role="listview">
      <li><a href="EMEA">EMEA</a></li>
    </ul>
  </div>

</div>
