<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @eventsponsors.name %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
          <li>
            <div class="itemValue"><img src="<%= @eventsponsors.image %>" /></div>
          </li>
      
          <li>
            <p style="white-space:normal">
              <%= @eventsponsors.text %>
            </p>
          </li>
      
    </ul>
  </div>

</div>
