<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @agendas.Date %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <% @sessions.each do |key| %>
        
        <% key.each do |session| %>
          <li><%= session['Time'] %>
          <p style="white-space:normal"><%= session['Text'] %></p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

</div>
